{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<!--Home page content-->
<div class="container h-100 home-page-content">
   <div class="row">
      <div class="col-12 col-lg-6 my-auto">
         <h1 class="text-center title-text">Holly Dawes</h1>
         <div class="furniture-home-content">
            <p>Finding her inspiration away from the hustle of everyday life, 
                Holly enjoys long hikes across the hills of central England with 
                her very enthusiastic, full-of-energy border collie. It’s on these 
                adventures that she ‘sees’ her next creation, breathing life into it 
                on her return home.
            </p>
            <p> Her paintings, all in translucent watercolour, appeal to a wide range 
                of collectors. Often described as naive and full of fairytale charm, her 
                clean lines and simplicity of form belie the talented artist behind each brush stroke.
            </p>
            <p>Holly is also a skillful upcycler, bringing out the beauty in unwanted items, 
                and breathing new life into furniture that now graces homes all over the country. With an 
                eye for spotting the unusual, and the skill to transform a piece into something wonderful, 
                Holly is definitely a multi-talented artist.
            </p>
         </div>
      </div>
      <!--Home page image-->
      <div class="col-12 text-center col-lg-6 my-auto">
         <img class="main-image" src="{% static 'media/bluebellrainbow-home.jpg' %}" alt="Bluebell rainbow image">
      </div>
   </div>
</div>
{% endblock %}