{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="title-text page-title">Your Basket</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    {{ basket_items }}
                </div>
            {% else %}
                <p class="text-center">Your shopping basket is empty</p>
                <div class="col-6 offset-3 my-auto">
                    <img class="main-image" src="/media/bluebellrainbow-home-page.png" alt="Bluebell rainbow image">
                </div>
                <a href="{% url 'art' %}" class ="btn btn-outline-black rounded btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Return to Art Home Page to Keep Shopping</span></a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}