html {
    height: 100%;
}

body {
    
    color: #555;
    font-family: 'Lato';
    background-color: #fffaf0;
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
}

.title-text { 
    font-family: 'Niconne', cursive;
}

.page-title {
    margin-top: 100px;
}

.title-hr {
    border-top: 3px double #567d46;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* based on code from Code Institute's Boutique Ado Project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 70px;
    right: 10px;
    color: #567d46;
}

.sort-dropdown-box {
    background-color: #567d46;
}

.sort-text {
    color: #fffaf0;
}

.btt-link {
    cursor: pointer;
}

.sort-box {
    margin-top: 50px;
}

/* Toasts CSS */

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Header CSS*/

header { 
    background-color: 	#567d46;
}

.sort-box {
    margin-top: 50px;
}

a {
    color: #080808;
}

header a:hover, 
footer a:hover {
    color: #fffaf0;
    text-decoration: none;
}

.profile-dropdown {
    background-color: #567d46;
    margin-top: -5px;
    width: 200px;
}

.header-basket-icon:hover {
    color: #080808;
}


/* footer */

footer {
    background-color: #567d46;
    height: 50px;
}

.social-footer-links {
    
    vertical-align: middle;
}

.footer-links {
    margin-top: 200px;
}

/* Home Page CSS */

.home-page-content {
    margin-top: 200px;
    text-align: justify;
}

.main-image {
    max-width: 80%;
}

/* Allauth pages CSS */

.allauth-links {
    color: #567d46;
    font-size: 1.1em;
    font-weight: bold;
}

.allauth-links:hover {
    color: #424242;
}

.allauth-form-inner-content input {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;

}

.allauth-form-inner-content p{
    font-size: 1.2rem;
    margin-top: 20px;

}

.account-home-btn {
    border-style: solid;
    border-color: #567d46;
    color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;
}

.account-home-btn:hover {
    background-color: #567d46;
    color: white;
    text-decoration: none;
}

.account-action-btn {
    border-style: solid;
    border-color: #567d46;
    background-color: #567d46;
    color: white;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}


.account-action-btn:hover {
    color: #567d46;
    background-color: white;
    text-decoration: none;
}




/* Art page CSS */

.art-card {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
   
}

.art-img {
    border-radius: 5px;
}

.card {
    margin-bottom: 50px !important;
}

.card-text {
    vertical-align: bottom;
    display: table-cell;
}

.card-text:hover {    
    color: #567d46;
}

#all-art-sort {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    padding: 10px;
}

.sort-link:hover {
    color: #567d46;
}



/* Art Detail Page CSS */

.art-detail-card {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: white;
    max-width: 35%;
}

.art-detail-info {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: white;
    max-width: 35%;
}

.art-detail-title {
    font-size: 1.5em;
    margin-top: 10px;
}

.art-detail-button {

    border-style: solid;
    border-color: #567d46;
    background-color: #567d46;
    color: white;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;
    max-width: 20%;
    margin-left: 15px;
    margin-bottom: 15px;


}
    
.art-detail-button:hover {
    background-color: #567d46;
    color: white;
    text-decoration: none;
}

.keep-shopping-button{
    border-style: solid;
    border-color: #567d46;
    color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;

}

.keep-shopping-button:hover {
    background-color: #567d46;
    color: white;
    text-decoration: none;
}



.add-to-basket-button{
    border-style: solid;
    border-color: #567d46;
    background-color: #567d46;
    color: white;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;

}

.add-to-basket-button:hover {
    color: #567d46;
    background-color: white;
    text-decoration: none;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover {
    background: black;
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.basket-image {
    max-width: 30%;
}


/* Blog Page CSS*/

#all-blog-sort {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 10px;
}

/* Blog Detail Page CSS*/

.blog-content {
    max-width: 80%;
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    padding: 20px;
    background-color: white;

}

.blog-image {
    max-width: 30%;
    text-align: center;
    
}

/* Furniture page */

.contact-button {
    border-style: solid;
    border-color: #567d46;
    color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;

}

.contact-button:hover {
    background-color: #567d46;
    color: white;
    text-decoration: none;
}

.right-align {
    text-align: right;
    float: right;
}

.info-button {
    border-style: solid;
    border-color: #567d46;
    background-color: #567d46;
    color: white;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;

}

.info-button:hover {
    color: #567d46;
    background-color: white;
    text-decoration: none;
}

/* Furniture Detail page */

.furniture-detail-card {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    max-width: 50%;  
    padding-top: 15px; 
    padding-bottom: 15px; 
}

.furniture-img {
    border-radius: 5px;
}

/* Basket page */

.keep-shopping-button{
    border-style: solid;
    border-color: #567d46;
    color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;

}

.keep-shopping-button:hover {
    background-color: #567d46;
    color: white;
    text-decoration: none;
}



.checkout-button{
    border-style: solid;
    border-color: #567d46;
    background-color: #567d46;
    color: white;
    border-width: 2px; 
    border-radius: 5px;
    padding: 5px;

}

.checkout-button:hover {
    color: #567d46;
    background-color: white;
    text-decoration: none;
}

.basket-image {
    max-width: 40%;
    display:block;
    margin:auto;
}

th {
    text-transform: uppercase;

}

/* Checkout Success Page */

.order-confirmation-wrapper {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    max-width: 80%;  
    padding: 15px; 
     
}

.success-title {
    color: black;
    font-size: 2em;
    
}

.success-header {
    color: #424242;
    font-size: 1.1em;
}


/* Media Queries */

@media screen and (max-width: 1393px) {
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.logo-font {
		font-size: 30px !important;
	}
}

@media screen and (max-width: 576px) {
	.logo-font {
		font-size: 23px !important;
	}
}

@media screen and (max-width: 450px) {
    .logo-font {
        font-size: 20px !important;
    }
}