html {
    height: 100%;
}

body {
    
    color: #555;
    font-family: 'Lato';
    
}

.potato {
    max-width: 350px;
}

body { 
    background-color: #fffaf0;
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
}

.title-text { 
    font-family: 'Niconne', cursive;
}

.page-title {
    margin-top: 100px;
}

hr {
    border-top: 3px double #567d46;
}


/* Header CSS*/

header { 
    background-color: 	#567d46;
}



a {
    color: #080808;
}

a: 

.profile-dropdown {
    background-color: #567d46;
    margin-top: -5px;
    width: 200px;
}



/* footer */

footer {
    background-color: #567d46;
    height: 50px;
}

.social-footer-links {
    margin-top: 50px;
}

.footer-links {
    margin-top: 50px;
}

/* Home Page CSS */

.home-page-content {
    margin-top: 200px;
    text-align: justify;
}

.main-image {
    max-width: 100%;
    height: auto;
}

/* Art page CSS */

.art-card {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
   
}

.card {
    margin-bottom: 50px !important;
}

.card-text {
    vertical-align: bottom;
    display: table-cell;
}

/* Art Detail Page CSS */

.art-detail-card {
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: white;
    max-width: 50%;
}

/* Blog Page CSS*/



/* Blog Detail Page CSS*/

.blog-content {
    max-width: 80%;
    border-style: solid;
    border-color: #567d46;
    border-width: 2px; 
    border-radius: 5px;
    margin-top: 40px;
    padding: 20px;
    background-color: white;

}

.blog-image {
    max-width: 30%;
    text-align: center;
    
}



/* Media Queries */

@media screen and (max-width: 1393px) {
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.logo-font {
		font-size: 30px !important;
	}
}

@media screen and (max-width: 576px) {
	.logo-font {
		font-size: 23px !important;
	}

@media screen and (max-width: 450px) {
    .logo-font {
        font-size: 20px !important;
    }

}
