{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="title-text page-title">Art by Holly</h2>
            <hr class="w-50 mb-1 title-hr">
        </div>
    </div>
</div>

<div class="row text-center" id = "delivery-banner">
    <div class="col">
        <h3 class="my-1">Free delivery on art orders over £{{ free_delivery_threshold }}</h3>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 text-center sort-box">
        <a href="#" id="all-art-sort" class="sort-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Sort by Price <i class="fas fa-angle-down"></i>
        </a>
        <div class="dropdown-menu sort-dropdown-box text-center border-0" aria-labelledby="all-art-sort">
            <a href="{% url 'art' %}?sort=price&direction=asc" class="dropdown-item sort-text sort-link">Lowest to
                Highest</a>
            <a href="{% url 'art' %}?sort=price&direction=desc" class="dropdown-item sort-text sort-link">Highest to
                Lowest</a>
        </div>
    </div>
</div>

    
    
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
            
                {% for art in art %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="card art-card h-100">
                            {% if art.image %}
                                <a href="{% url 'art_detail' art.id %}">
                                    <img class="card-img-top img-fluid" src="{{ art.image.url }}" alt="{{ art.title }}">
                                </a>
                                {% else %}
                                <a href="{% url 'art_detail' art.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ art.title }}">
                                </a>
                                {% endif %}
                                <div class="card-body art-img pb-0">
                                    
                                    <a href="{% url 'art_detail' art.id %}" class="mb-5 card-text text-center"><h4>{{ art.title }}</h4></a>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ art.price }}</p>
                                            
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

   <!--based on code from Code Institute's Boutique Ado Project -->

   <div class="btt-button shadow-sm rounded-0 border">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
</div>

{% endblock %}


{% block postloadjs %}

<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
    
{% endblock %}