{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col text-center mt-3">
        <h2 class="title-text page-title">{{ art.title }}</h2>
        <hr class="w-50 mb-1">
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-sm-9 col-md-6 art-detail-card text-center">
        {% if art.image %}
            a
            <img class="card-img-top text-center" src="{{ art.image.url }}" alt="{{ art.title }}">
            {% else %}
            <img class="card-img-top text-center" src="{{ MEDIA_URL }}noimage.png" alt="{{ art.title }}">
        {% endif %}

    
</div>
<div class="col-sm-3 col-md-6 art-detail-info">
    {{ art.title }}
    <br>
    £{{ art.price }}
    <br>
    {{ art.description }}
</div>
</div>
</div>
</div>
<br>

{% endblock %}