{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col text-center mt-3">
        <h2 class="title-text page-title">{{ art.title }}</h2>
        <hr class="w-50 mb-1 title-hr">
    </div>
</div>

<div class="row text-center" id="delivery-banner">
    <div class="col">
        <h3 class="my-1">Free delivery on art orders over £{{ free_delivery_threshold }}</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-6 art-detail-card text-center">
            {% if art.image %}
            <img class="card-img-top text-center" src="{{ art.image.url }}" alt="{{ art.title }}">
            {% else %}
            <img class="card-img-top text-center" src="{{ MEDIA_URL }}noimage.png" alt="{{ art.title }}">
            {% endif %}


        </div>
        <div class="col-sm-3 col-md-6 art-detail-info">
            {{ art.title }}
            <br>
            £{{ art.price }}
            <br>
            {{ art.description }}
            <form class="form" action="{% url 'add_to_basket' art.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ art.id }}" id="decrement-qty_{{ art.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>

                                    </button>

                                
                                <input class="form-control qty_input" type="number" 
                                name="quantity" value="1" min="1" max="99" 
                                data-item_id="{{ art.id }}" id="id_qty_{{ art.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ art.id }}" id="increment-qty_{{ art.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>

                                    </button>    
                                <div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'art' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase keep-shopping-button">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn text-uppercase mt-5 add-to-basket-button" value="Add to Basket">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            
        </div>
    </div>
</div>
</div>
<br>

<!--based on code from Code Institute's Boutique Ado Project -->
<div class="btt-button shadow-sm rounded-0 border">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{{ block.super }}
{% include 'art/includes/quantity_input_script.html' %}
{% endblock %}
