{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col text-center mt-3">
        <h2 class="title-text page-title">{{ blog.title }}</h2>
        <hr class="w-50 mb-1">
    </div>
</div>
<!-- <img class="card-img-top blog-image text-center" src="{{ blog.image.url }}" alt="{{ blog.title }}"> -->
<div class="row">
<div class="col-10 offset-1 blog-content">
{{ blog.content|safe }}
</div>
</div>
<br>
<h3 class="published-date text-center">Published {{ blog.date|date:'F jS Y'}}</h2>
{% endblock %}