{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="title-text page-title">Our Blogs</h2>
            <hr class="w-50 mb-1 title-hr">
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 text-center sort-box">
            <a href="#" id="all-blog-sort" class="sort-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Sort by Date <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu sort-dropdown-box border-0" aria-labelledby="all-blog-sort">
                <a href="{% url 'blog' %}?sort=date&direction=desc" class="dropdown-item sort-text sort-link">Most
                    Recent</a>
                <a href="{% url 'blog' %}?sort=date&direction=asc" class="dropdown-item sort-text sort-link">Oldest</a>
            </div>
        </div>
    </div>



<div class="row">
    <div class="product-container col-10 offset-1">
        <div class="row mt-1 mb-2">
        <div class="row">
            {% for blog in blog %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card art-card h-100">
                        {% if blog.image %}
                            <a href="{% url 'blog_detail' blog.id %}">
                                <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                            </a>
                            {% else %}
                            <a href="{% url 'blog_detail' blog.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <a href="{% url 'blog_detail' blog.id %}" class="mb-5 card-text"><h4>{{ blog.title }}</h4></a>
                                <h5>Published on {{ blog.date|date:'j M Y' }}</h5>
                                <p>{{ blog.description|striptags }}</p>
                            </div>

                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <a href="{% url 'blog_detail' blog.id %}">Read More</a>
                                </div>
                            </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div>

    <!--based on code from Code Institute's Boutique Ado Project -->

    <div class="btt-button shadow-sm rounded-0 border">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
    
    {% endblock %}
    
    {% block postloadjs %}
    
    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>
    
    {% endblock %}