{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid">
  <div class="row">
      <div class="col text-center mt-3">
          <h2 class="title-text page-title">Log Out</h2>
          <hr class="w-50 mb-1 title-hr">
      </div>
  </div>
</div>



<p>{% trans 'Are you sure you want to log out of your account?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class ="btn account-home-btn" href="{% url 'home' %}">Home</a>
  <button type="submit" class="account-action-btn">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
