{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid">
  <div class="row">
      <div class="col text-center mt-3">
          <h2 class="title-text page-title">Set Password</h2>
          <hr class="w-50 mb-1 title-hr">
      </div>
  </div>
</div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form | crispy }}
        <a class ="btn input-home-btn" href="{% url 'home' %}">Home</a>
        <input type="submit" name="action" class="account-action-btn" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
