{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="title-text page-title">Change Password</h2>
            <hr class="w-50 mb-1 title-hr">
        </div>
    </div>
  </div>

    <p>{% trans 'Your password is now changed.' %}</p>
    <a class ="btn account-action-btn" href="{% url 'home' %}">Home</a>
{% endblock %}
