{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="title-text page-title">Password Reset</h2>
            <hr class="w-50 mb-1 title-hr">
        </div>
    </div>
</div>
    
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <a class ="btn account-action-btn" href="{% url 'home' %}">Home</a>
{% endblock %}
