{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col text-center mt-3">
        <h2 class="title-text page-title">{{ furniture.title }}</h2>
        <hr class="w-50 mb-1 title-hr">
    </div>
</div>

{% if request.user.is_authenticated %}
{% if request.user.is_superuser %}
<div class="text-center mt-3">
    <a href="{% url 'add_furniture' %}" class="account-action-btn">Add Example Furniture Project</a>
</div>
{% endif %}
{% endif %}


    <div class="row">
        <div class="col-xs-6 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3 align-self-center furniture-detail-card">
            {% if furniture.image %}
            <img class="card-img-top text-center furniture-img" src="{{ furniture.image.url }}"
                alt="{{ furniture.title }}">
            {% else %}
            <img class="card-img-top text-center" src="{{ MEDIA_URL }}noimage.png" alt="{{ furniture.title }}">
            {% endif %}
        </div>
        <div class="col-sm-10 offset-sm-1 col-md-8 col-lg-6 furniture-detail-card">
            <h3>{{ furniture.product }}</h3>
            
            <p>{{ furniture.description }}</p>
            <br>
            <div class="text-center">
            <a href="{% url 'contact' %}" class="contact-us-btn">Contact Us</a>
            </div>
            {% if request.user.is_superuser %}
                <div class="text-center mt-2">
                    <a href="{% url 'edit_furniture' furniture.id %}" class="edit-delete-link">Edit</a>
                    <a class="text-danger edit-delete-link" href="{% url 'delete_furniture' furniture.id %}">Delete</a>
                </div>
                {% endif %}
                <div class="text-center mt-2">
                    <a href="{% url 'furniture' %}" class="account-action-btn"><i class="fas fa-arrow-left"></i> Back to all furniture</a>
                </div>
        </div>



    </div>

</div>
<br>

<!--based on code from Code Institute's Boutique Ado Project -->

<div class="btt-button shadow-sm rounded-0 border">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}

<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}