{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col text-center mt-3">
        <h2 class="title-text page-title">{{ furniture.title }}</h2>
        <hr class="w-50 mb-1">
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-sm-6 offset-sm-3  furniture-detail-card">
        {% if furniture.image %}
            <img class="card-img-top text-center furniture-img" src="{{ furniture.image.url }}" alt="{{ furniture.title }}">
            {% else %}
            <img class="card-img-top text-center" src="{{ MEDIA_URL }}noimage.png" alt="{{ furniture.title }}">
        {% endif %}
        </div>

        <div class="col-sm-9 col-md-6 furniture-detail-card">
    {{ furniture.description }}
    <br>
    <a href="{% url 'contact' %}">Contact Us</a>
</div>


</div>
</div>
</div>
<br>

{% endblock %}